@import url('https://fonts.googleapis.com/css2?family=Emilys+Candy&family=Henny+Penny&display=swap');

*{
    margin: 0;
    padding: 0;
    font-weight: 400;
}

:root {
    --roxo: #cdb4dbff;
    --rosa-claro: #ffc8ddff;
    --rosa: #ffafccff;
    --ciano: #bde0feff;
    --azul: #a2d2ffff;
    --preto: #000000;
    --fonte-primaria: "Emilys Candy", serif;
    --fonte-secundaria: "Henny Penny", system-ui;
}

body{
    background-color: var(--roxo);
    color: var(--preto);
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    font-family: var(--fonte-secundaria);
}
.caixa-principal{
    background-color: var(--ciano);
    width: 90%;
    text-align: center;
    padding: 20px;
}
.titulo{
    font-family: var(--fonte-primaria);
}